{% extends "base.html" %}

{% block content %}
<h2>Профиль</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if user.avatar %}
        <img src="{% url 'avatar_view' user.id %}" alt="Avatar" width="150" height="150" />
    {% else %}
        <p>Нет аватара</p>
    {% endif %}

    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>

<hr>

<h3>Отзывы обо мне</h3>

{% if reviews %}
    <ul>
    {% for review in reviews %}
        <li>
            <strong>Отзыв от {{ review.author.username }}</strong><br>
            О недвижимости: {{ review.property.title }}<br>
            Рейтинг: {{ review.rating }}<br>
            Комментарий: {{ review.comment }}<br>
            Дата: {{ review.created_at|date:"d.m.Y" }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Пока нет отзывов.</p>
{% endif %}


{% endblock %}
