<form method="post" style="width: 100%; display: flex; flex-direction: column; gap: 24px;">
  {% csrf_token %}

  <!-- Поле для ввода email -->
  <div style="display: flex; flex-direction: column; gap: 4px;">
    <label for="id_email" style="color: #2D2D2D; font-size: 16px;">E-mail:</label>
    {{ form.email }}
    {% if form.email.errors %}
      <ul style="color: red; font-size: 14px;">
        {% for error in form.email.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Поле для ввода имени пользователя -->
  <div style="display: flex; flex-direction: column; gap: 4px;">
    <label for="id_username" style="color: #2D2D2D; font-size: 16px;">Имя пользователя:</label>
    {{ form.username }}
    {% if form.username.errors %}
      <ul style="color: red; font-size: 14px;">
        {% for error in form.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Поле для ввода пароля -->
  <div style="display: flex; flex-direction: column; gap: 4px;">
    <label for="id_password1" style="color: #2D2D2D; font-size: 16px;">Придумайте пароль:</label>
    {{ form.password1 }}
    {% if form.password1.errors %}
      <ul style="color: red; font-size: 14px;">
        {% for error in form.password1.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Поле для повторного ввода пароля -->
  <div style="display: flex; flex-direction: column; gap: 4px;">
    <label for="id_password2" style="color: #2D2D2D; font-size: 16px;">Повторите пароль:</label>
    {{ form.password2 }}
    {% if form.password2.errors %}
      <ul style="color: red; font-size: 14px;">
        {% for error in form.password2.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Поле для ввода телефона -->
  <form method="post" style="width: 100%; display: flex; flex-direction: column; gap: 24px;">
  {% csrf_token %}

  <!-- Поля формы -->
  <div>
    <label for="id_phone_number">Телефон:</label>
    {{ form.phone_number }}  <!-- Поле для телефона из формы -->
  </div>

  <button type="submit">Зарегистрироваться</button>
</form>

